.App {
  font-family: 'Arial', sans-serif;
  background-color: #f7fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;
  margin-top: auto; 
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

textarea {
  box-sizing: border-box;
  color: #333;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  resize: none;
  transition: all 0.3s ease;
}

textarea:focus {
  outline: none;
  border-color: #4CAF50;
}

.add-todo-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-todo-button:hover {
  background-color: #45a049;
}

input[type="date"] {
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.todo-container {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}

.todo {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  max-width: 600px; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  transition: background-color 0.3s;
}

.todo.completed {
  background-color: #d4edda;
  text-decoration: line-through;
  color: #6c757d;
}

.todo-actions {
  display: flex;
  gap: 10px;
}

button.add-todo-button-edit {
  background-color: #74c667;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button.add-todo-button-edit:hover {
  background-color: #42a74e;
}

button.delete {
  background-color: #e16a76;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button.delete:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .todo-container {
    padding: 0 15px;
  }

  .todo {
    flex-direction: column;
    align-items: flex-start;
  }

  textarea,
  input[type="date"],
  button {
    width: 100%;
  }

  .todo-actions {
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px;
  }
}

.react-calendar .highlight {
  background-color: #4CAF50 !important;
  color: white !important;
  border-radius: 50%;
}